<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="HotelSolDB"
      connectionString="Data Source=uocsrv.database.windows.net,1433;Initial Catalog=uocdb;Persist Security Info=False;User ID=uoc;Password=U0c2014!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
	     <!--
   		 connectionString="Data Source=localhost,1433;Initial Catalog=NetCrewdb;Persist Security Info=False;User ID=hotsol;Password=hotsol;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" />     
		     -->
  </connectionStrings>

  <appSettings>
    <add key="rutaXML" value="c:\temp"/>
    <add key="productFile" value="products.xml"/>
  </appSettings>
  
</configuration>